<?xml version="1.0"?>
<config>
    <modules>
        <PrintNode_CloudPrintAPI>
            <version>0.1.0</version>
        </PrintNode_CloudPrintAPI>
    </modules>
    <global>
        <models>
            <pncloudprintapi>
                <class>PrintNode_CloudPrintAPI_Model</class>
                <resourceModel>pncloudprintapi_resource</resourceModel>
            </pncloudprintapi>
            <pncloudprintapi_resource>
                <class>PrintNode_CloudPrintAPI_Model_Resource</class>
            </pncloudprintapi_resource>
        </models>
        <blocks>
            <pncloudprintapi>
                <class>PrintNode_CloudPrintAPI_Block</class>
            </pncloudprintapi>
        </blocks>
        <helpers>
            <pncloudprintapi>
                <class>PrintNode_CloudPrintAPI_Helper</class>
            </pncloudprintapi>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <payperrentals before="Mage_Adminhtml_Sales">PrintNode_CloudPrintAPI_Adminhtml</payperrentals>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <pncloudprintapi>
                    <files>
                        <default>PrintNode_CloudPrintAPI.csv</default>
                    </files>
                </pncloudprintapi>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <pncloudprintapi>
                    <files>
                        <default>PrintNode_CloudPrintAPI.csv</default>
                    </files>
                </pncloudprintapi>
            </modules>
        </translate>
    </frontend>
    <default>
        <pncloudprintapi>
            <print_replace>
                <print_invoice>0</print_invoice>
                <print_creditmemo>0</print_creditmemo>
                <print_shipment>0</print_shipment>
            </print_replace>
        </pncloudprintapi>
    </default>
</config>