<?xml version="1.0"?>
<config>
    <tabs>
        <printnode translate="label" module="pncloudprintapi">
            <label><![CDATA[PrintNode]]></label>
            <sort_order>550</sort_order>
        </printnode>
    </tabs>
    <sections>
        <pncloudprintapi translate="label comment">
            <label><![CDATA[PrintNode Cloud Print]]></label>
            <tab>printnode</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <extension_information>
                    <label><![CDATA[Extension information]]></label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <version>
                            <label><![CDATA[Version]]></label>
                            <frontend_model>pncloudprintapi/adminhtml_system_configuration_version</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </version>
                    </fields>
                </extension_information>
                <general>
                    <label><![CDATA[General Configuration]]></label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <account_login>
                            <label><![CDATA[PrintNode API-Key]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </account_login>
                        <printer_id>
                            <label><![CDATA[PrintNode Printer Choice]]></label>
                            <comment><![CDATA[To see printers please save your API-Key.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>pncloudprintapi/system_config_source_printers</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </printer_id>
                    </fields>
                </general>
                <print_replace>
                    <label><![CDATA[Print Configuration]]></label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <print_invoice>
                            <label><![CDATA[Print Invoice With PrintNode]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </print_invoice>
                        <print_creditmemo>
                            <label><![CDATA[Print Creditmemo With PrintNode]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </print_creditmemo>
                        <print_shipment>
                            <label><![CDATA[Print Shipment With PrintNode]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </print_shipment>
                    </fields>
                </print_replace>
            </groups>
        </pncloudprintapi>
    </sections>
</config>